:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --bg-sidebar: #faf9f9;
  --bg-profile: #faf9f9;
  --icon-color: #2b41be;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
  --background-color: #2d333b;
  --text-color: rgb(227, 227, 227);
  --bg-sidebar: #374151;
  --bg-profile: #374151;
}
