.profile {
  padding: 40px 20px;
  flex-grow: 1;
  max-width: 350px;
  background-color: var(--bg-sidebar);

  &__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;
      flex-grow: 1;
      margin-left: -20px;
    }

    &__tool {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      i {
        font-size: 25px;
        color: var(--icon-color);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
