.content {
  flex-grow: 2;
  background-color: var(--background-color);
  padding: 40px 30px;

  &__header {
    margin-bottom: 20px;
  }

  &__body {
    &__item {
      display: flex;
      align-items: center;
      padding: 20px 10px;

      &__checkbox {
        margin-right: 20px;
      }

      &__desc {
        flex-grow: 1;
      }

      &__fav {
        margin-left: 20px;

        i {
          font-size: 20px;
          color: var(--icon-color);
        }
      }
    }
  }
}
