.sidebar {
  padding: 40px 20px;
  flex-grow: 1;
  width: 350px;
  max-width: 350px;
  background-color: var(--bg-sidebar);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;

  &__profile {
    display: flex;
    align-items: center;
    gap: 20px;

    &__image {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      h4 {
        margin-bottom: 5px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  &__tool {
    position: relative;
    &__dropdown {
      position: absolute;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      background-color: var(--bg-sidebar);
      right: 0;
      top: 30px;

      ul,
      li,
      a {
        list-style: none;
        padding: 10px 15px;
        text-decoration: none;
        color: var(--text-color);
      }

      a {
        cursor: pointer;
        font-size: 14px;
        padding: 5px 0;
        &:hover {
          color: var(--blue-primary);
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--bg-sidebar);
        top: -10px;
        right: 0;
      }
    }

    i {
      font-size: 20px;
      color: var(--blue-primary);
    }
  }
}

.notask {
  margin-top: 10px;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
